data/json/stock_data/
data/json/website/
.webassets-cache/
__pycache__/
static/gen/
backups/
stories/
.venv/
local/
cache/
users/
logs/
gen/
gdp_per_capita.json
currencies.json
infomundi.wsgi
config.py
crypto.json
stocks.json