#chartdiv {
  width: 100%;
  height: 80vh;
  max-width: 100%;
  }
  .fa-solid me-1 {
  color: #ffffff;
  }
  {% if request.cookies.get('theme') != 'light' %}
  .accordion {
  --bs-accordion-btn-bg: #202429;
  --bs-accordion-btn-color: #ffffff;
  --bs-accordion-active-bg: #202429;
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-bg: #131619;
  --bs-accordion-color: #ffffff;
  --bs-accordion-btn-focus-box-shadow: none;
  }
  .accordion-flush .accordion-button {
  border-top: 1px solid #000000;
  }
  .accordion-flush .accordion-item:last-child .accordion-button.collapsed,
  .accordion-flush .accordion-item:last-child .accordion-body {
  border-bottom: 1px solid #000000;
  }
  {% endif %}
  @media (max-width: 968px) {
    #chartdiv {
    width: 100%;
    height: 50vh;
    margin-top: -10.5vh;
    }
  }