@font-face {
  font-family: 'Spectral SC';
  src: url('/static/fonts/SpectralSC-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/static/fonts/Alexandria-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('/static/fonts/RobotoMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#scrollProgressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 8px; /* Adjust the height of the progress bar */
    background-color: #0c6ffd; /* Adjust the color of the progress bar */
    z-index: 9999;
}

body {
  font-family: RobotoMono, sans-serif;
  top: 0px !important;
}


.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}


.infomundi-logo {
  width: 60%;
  height: auto;
}

.logo-text {
  font-family: 'Spectral SC', serif;
}

.theme-checkbox {
  opacity: 0;
  position: absolute;
}

.theme-checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.theme-checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.theme-checkbox:checked + .theme-checkbox-label .ball {
  transform: translateX(24px);
}

.inf-fixed-button {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.inf-nav-item .nav-link {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.inf-fixed-button:hover {
  opacity: 1;
}

/* Class to hide the navbar */
.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

/* Class to ensure visibility with transition */
.navbar-visible {
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .infomundi-logo {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  }
}