/* Modal header image styles */
#infomundiStoryModal .modal-header {
  position: relative;
  padding: 0;
}

#infomundiStoryModal .modal-header img {
  width: 100%;
  max-height: 650px;
  /* Constrain maximum image height */
  min-height: 400px;
  /* Ensure minimum space for text */
  object-fit: cover;
  /* Maintain aspect ratio without distortion */
  border-radius: 0.5rem 0.5rem 0 0;
}

/* Exclude the publisher logo from inheriting the above styles */
#infomundiStoryModal #publisherLogo {
  min-height: auto;
  /* Remove min-height */
  max-height: none;
  /* Remove max-height */
  width: 30px;
  /* Set specific width */
  height: auto;
  /* Maintain aspect ratio */
  object-fit: unset;
  /* Remove object-fit applied globally */
  border-radius: 50%;
}

/* Headline container */
#infomundiStoryModal .modal-header .headline-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  background: linear-gradient(to top, #000, transparent);
}


.modal-content {
  border-radius: 0.5rem;
}


.match-rate {
  color: #46d369;
  font-weight: bold;
}


.image-card {
  position: relative;
}


.tip-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4px;
  border-radius: 5px;
  z-index: 10;
}


.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.inf-story-card {
  position: relative;
  min-height: 475px;
}


.inf-story-card-body {
  margin-right: -15px;
  margin-left: -15px;
}


.inf-story-card-footer {
  margin-right: -15px;
  margin-left: -15px;
}


@media (max-width: 1200px) {
  .inf-story-card {
    position: relative;
    min-height: 450px;
  }
}

.list-group {
  width: 100%;
  max-width: 460px;
  /* margin-inline: 1.5rem; */
}

.form-check-input:checked+.form-checked-content {
  opacity: .5;
}

.form-check-input-placeholder {
  border-style: dashed;
}

[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
}

.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.list-group-item-check:hover+.list-group-item {
  background-color: var(--bs-secondary-bg);
}

.list-group-item-check:checked+.list-group-item {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.list-group-item-check[disabled]+.list-group-item,
.list-group-item-check:disabled+.list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.list-group-radio .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}

.list-group-radio .form-check-input {
  z-index: 2;
  margin-top: -.5em;
}

.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
  background-color: var(--bs-secondary-bg);
}

.list-group-radio .form-check-input:checked+.list-group-item {
  background-color: var(--bs-body);
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 2px var(--bs-primary);
}

.list-group-radio .form-check-input[disabled]+.list-group-item,
.list-group-radio .form-check-input:disabled+.list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}