@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');
.hwrap {
  overflow: hidden;
  background: #000;
}
 
.hmove { display: flex; }

.hitem {
  flex-shrink: 0;
  width: 100%;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
 
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-5000%, 0, 0); }
}
.hmove { animation: tickerh linear 120s infinite; }
.hmove:hover { animation-play-state: paused; }