{% extends "base.html" %} {% block title %}Admin Panel{% endblock %}
{% block styles %}
<style>
  body {
  padding: 25px;
  }
  .form-group {
  padding-bottom: 10px;
  }
  .row {
  padding-top: 25px;
  }
  @media (max-width: 968px) {
  .col {
  padding-top: 25px;
  }
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col">
    <div class="card bg-dark text-light" style="max-width: 30rem;">
      <div class="card-header">
        Add a News Feed
      </div>
      <div class="card-body">
        <form method="post" action="{{ url_for('auth.add_news') }}">
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control bg-dark text-light autocomplete" id="country" name="country" required>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control bg-dark text-light" id="category" name="category" required>
              <option value="general">General</option>
              <option value="politics">Politics</option>
              <option value="economy">Economy</option>
              <option value="technology">Technology</option>
              <option value="sports">Sports</option>
            </select>
          </div>
          <div class="form-group">
            <label for="site">Feed Name</label>
            <input type="text" class="form-control bg-dark text-light" id="site" name="site" required>
          </div>
          <div class="form-group">
            <label for="url">Feed URL</label>
            <input type="url" pattern="https?://.+" class="form-control bg-dark text-light" id="url" name="url" required>
          </div>
          <button type="submit" class="btn btn-outline-success">Add Entry</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark text-light" style="max-width: 30rem;">
      <div class="card-header">
        Search Comments
      </div>
      <div class="card-body">
        <form method="post" action="{{ url_for('auth.search_comments') }}">
          <div class="form-group">
            <label for="search_text">Search Text</label>
            <input type="text" class="form-control bg-dark text-light" id="search_text" name="search_text" required>
          </div>
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card bg-dark text-light" style="max-width: 30rem;">
      <div class="card-header">
        Search Info About a Country
      </div>
      <div class="card-body">
        <form method="post" action="{{ url_for('auth.get_feed_info') }}">
          <div class="form-group">
            <label for="country_name">Country Name</label>
            <input type="text" class="form-control bg-dark text-light autocomplete" id="country_name" name="country_name" required>
          </div>
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark text-light" style="max-width: 30rem;">
      <div class="card-header">
        Delete a Comment
      </div>
      <div class="card-body">
        <form method="post" action="{{ url_for('auth.delete_comment') }}">
          <div class="form-group">
            <label for="comment_id">Comment ID</label>
            <input type="text" class="form-control bg-dark text-light" id="comment_id" name="comment_id" required>
          </div>
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {% if search_results %}
  <div class="col">
    <!-- Display search results in a new card -->
    <div class="card bg-dark text-light" style="max-width: 30rem;">
      <div class="card-header">
        Search Results
      </div>
      <div class="card-body">
        <ul class="list-group">
          {% for result in search_results %}
          <li class="list-group-item bg-dark text-light">
            User: {{ result['name'] }}<br>
            Comment Text: {{ result['text'] }}<br>
            Comment ID: {{ result['id'] }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<div class="row">
<div class="col">
  <div class="col">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="flexSwitchCheckChecked">
      <label style="padding-right: 10px" class="form-check-label text-light" for="flexSwitchCheckChecked">Allow new comments</label>
      <button type="button" class="btn btn-outline-primary btn-sm" id="applyButton">Apply</button>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script 
  src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" 
  integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" 
  crossorigin="anonymous"
  ></script>
<script defer
  src="{{ url_for('static', filename='js/autocompleteNoRedirect.js') }}"
  ></script>
<script>
  $(document).ready(function() {
      // Fetch the initial state from the server
      $.ajax({
          url: "{{ url_for('auth.get_comments_status') }}",
          method: 'GET',
          success: function(response) {
              $('#flexSwitchCheckChecked').prop('checked', response.enabled);
          }
      });
  
      // Handle the Apply button click
      $("#applyButton").click(function() {
          $.ajax({
              url: "{{ url_for('auth.disable_comments') }}",
              method: 'POST',
              data: { 'flexSwitchCheckChecked': $('#flexSwitchCheckChecked').prop('checked') },
              success: function(response) {
                  // Handle any response if needed
                  console.log(response);
              }
          });
      });
  });
</script>
{% endblock %}