{% extends "base.html" %}{% block title %}Captcha{% endblock %} {% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-3">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-lg-start">
      <h2 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Hey, are you a robot?</h2>
      <!--<p class="col-lg-10 fs-5">Are you not?</p>-->
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <img fetchpriority="high" src="{{ url_for('static', filename='img/illustrations/captcha.webp') }}" class="d-block mx-lg-auto img-fluid" alt="Captcha Illustration" width="500" height="500" />
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="{{ url_for('views.captcha') }}" id="captcha-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="my-3">
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAB1DjtcW_dBfr2WO" data-callback="onCaptchaSuccess"></div>
        </div>

        <p id="captchaMessage" class="mb-2 small"><i class="fa-solid fa-robot me-2"></i>Please complete the captcha to enable the submit button.</p>
        <button class="btn btn-lg btn-secondary w-100 mb-2" type="submit" id="captchaSubmitButton" disabled>Submit</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}
