{% extends "base.html" %} {% block title %}{{ seo_data[0] }}{% endblock %}
{% block styles %}
<style>
   .story-img {
      border-radius: 30px;
      max-width: 70%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      height: auto;
      position: relative; /* Ensures the logos are behind the story image */
      z-index: 1; /* Keep story image on top of logos */
   }

   .inf-image-wrapper {
      max-height: 50%;
      position: relative; /* Enables absolute positioning for pseudo-elements */
   }

   /* Left and right logos behind the image */
   .inf-image-wrapper::before,
   .inf-image-wrapper::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('{{ url_for('static', filename='img/logos/logo-icon-dark.webp') }}');
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.75; /* Set low opacity for subtle effect */
      width: 40%; /* Adjust size as needed */
      height: 100%;
      z-index: 0; /* Behind the story image */
   }

   /* Left logo */
   .inf-image-wrapper::before {
      left: 0;
      background-position: left center;
   }

   /* Right logo */
   .inf-image-wrapper::after {
      right: 0;
      background-position: right center;
   }

   @media (max-width: 968px) {
      .inf-image-wrapper {
         max-height: 100%;
      }
      .story-img {
         max-width: 100%;
      }
      .inf-image-wrapper::before, .inf-image-wrapper::after {
         background-size: 60%; /* Adjust for smaller screens */
         width: 50%; /* Fit logos better on mobile */
      }
   }
</style>
{% endblock %}
{% block content %}
<div class="container align-items-center mt-5">
   <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '-';">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{{ url_for('views.home') }}">Home</a></li>
         <li class="breadcrumb-item"><a href="{{ from_country_url }}">{{ from_country_name }} {{ from_country_category.title() }}</a></li>
         <li class="breadcrumb-item active" aria-current="page"><small>{{ ' '.join(story.title.split(' ')[:5]) }}...</small></li>
      </ol>
   </nav>
   <h1 class="fw-bold mt-3 mb-3 text-uppercase">{{ story.title }}</h1>
   <p class="text-body-secondary small">Published by <a href="{{ story.link }}" target="_blank">{{ story.publisher.name }}</a>, on {{ story.pub_date }}<span class="ms-1">&#x2022;</span><span class="ms-1">{{ story.clicks }} view{% if story.clicks > 1 or story.clicks == 0 %}s{% endif %}</span></p>
   
   <div class="my-5 d-flex justify-content-center inf-image-wrapper">
      <img fetchpriority="high" src="{{ story.media_content_url }}" class="story-img" alt="The image for this story">
   </div>

   <h2 class="fs-6 fw-light">{{ story.description|safe }}</h2>
   <hr class="mt-5 mb-3">
   {% if not story.gpt_summary %}
   <div id="maximusInitialText">
      <h3 class="mb-3">Maximus is reading the news, wait a few seconds...</h3>
   </div>
   <div id="maximusCooking">
      <img data-src="{{ url_for('static', filename='img/maximus.webp') }}" width="500" height="500" style="height: auto; width: 5vh" class="rounded-circle me-1 lazyload" alt="Maximus"><span id="maximusText">Maximus is noting some important things...</span>
   </div>
   <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressBar"></div>
   </div>
   <div id="apiResponse">
   </div>
   <div class="invisible" id="maximusFinalMessageTrue">
      <p>We are glad to help you further understand this news. You can <a href="{{ story.link }}" aria-label="Click here to visit the original story" target="_blank" class="text-decoration-none">visit the original story in {{ story.publisher.name }}</a>.</p>
      <div class="d-flex justify-content-between mb-3">
         {% if previous_news %}
         <a href="https://infomundi.net/comments?id={{ previous_news }}&category={{ request.args.get('category', '') }}" class="btn btn-outline-primary"><i class="fa-solid fa-backward me-1"></i>Previous News</a>
         {% endif %}
         {% if next_news %}
         <a href="https://infomundi.net/comments?id={{ next_news }}&category={{ request.args.get('category', '') }}" class="btn btn-outline-primary">Next News<i class="fa-solid fa-forward ms-1"></i></a>
         {% endif %}
      </div>
   </div>
   {% else %}
   {% if story.gpt_summary %}
   {% for item in formatted_gpt_summary %}
   <h3>{{ item.header }}</h3>
   <p>{{ item.paragraph }}</p>
   {% endfor %}
   <div class="mt-4">
      <p>We are glad to help you further understand this news. You can <a href="{{ story.link }}" aria-label="Click here to visit the original story" target="_blank" class="text-decoration-none">visit the original story in {{ story.publisher.name }}</a>.</p>
   </div>
   <div class="d-flex justify-content-between mb-3">
      {% if previous_news %}
      <a href="https://infomundi.net/comments?id={{ previous_news }}" class="btn btn-outline-primary"><i class="fa-solid fa-backward me-1"></i>Previous News</a>
      {% endif %}
      {% if next_news %}
      <a href="https://infomundi.net/comments?id={{ next_news }}" class="btn btn-outline-primary">Next News<i class="fa-solid fa-forward ms-1"></i></a>
      {% endif %}
   </div>
   {% else %}
   <p>{{ story.description }}</p>
   <div class="mt-4">
      <p>You can <a href="{{ story.link }}" aria-label="Click here to visit the original story" target="_blank" class="text-decoration-none">visit the original story in {{ story.publisher.name }}</a>.</p>
   </div>
   <div class="d-flex justify-content-between mb-3">
      {% if previous_news %}
      <a href="https://infomundi.net/comments?id={{ previous_news }}" class="btn btn-outline-primary"><i class="fa-solid fa-backward me-1"></i>Previous News</a>
      {% endif %}
      {% if next_news %}
      <a href="https://infomundi.net/comments?id={{ next_news }}" class="btn btn-outline-primary">Next News<i class="fa-solid fa-forward ms-1"></i></a>
      {% endif %}
   </div>
   {% endif %}
   {% endif %}
   <div class="mt-5">
      <!--<script defer src="https://commento.infomundi.net/comentario.js"></script>-->
      <comentario-comments auto-init="false" live-update="true" lang="{% if page_language == 'pt' %}pt-BR{% else %}{{ page_language }}{% endif %}" page-id="/comments?id={{ story.story_id }}" max-level="5" theme="{{ request.cookies.get('theme', 'light') }}"></comentario-comments>
   </div>
   <div class="container">
      <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '-';">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('views.home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ from_country_url }}">{{ from_country_name }} {{ from_country_category.title() }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><small>{{ ' '.join(story.title.split(' ')[:5]) }}...</small></li>
         </ol>
      </nav>
   </div>
   <!-- Return button -->
   {% if is_mobile %}
   <a type="button" class="btn btn-primary btn-sm inf-fixed-button invisible" href="{{ from_country_url }}" id="commentsReturnButtonMobile" style="position: fixed; top: 12vh; left: 20px;">
   <i class="fa-solid fa-rotate-left me-1"></i>{{ from_country_name }} {{ from_country_category.title() }}
   </a>
   {% else %}
   <a type="button" class="btn btn-primary btn-sm inf-fixed-button" href="{{ from_country_url }}" id="commentsReturnButton" style="position: fixed; top: 12vh; left: 20px;">
   <i class="fa-solid fa-rotate-left me-1"></i>{{ from_country_name }} {{ from_country_category.title() }}
   </a>
   {% endif %}
</div>
{% endblock %}
{% block scripts %}
{% if not story.gpt_summary %}
<script nonce="{{ nonce }}"
   src="{{ url_for('static', filename='js/fetchGptSummary.js') }}"
   ></script>
{% endif %}
<script nonce="{{ nonce }}">
   window.userAuthenticated = {{ 'true' if current_user.is_authenticated else 'false' }};
</script>
<script nonce="{{ nonce }}"
      src="{{ url_for('static', filename='js/scrollProgressBar.js') }}" 
      ></script>
<script defer nonce="{{ nonce }}" src="{{ url_for('static', filename='js/awaitLoadComentario.js') }}"></script>
<script type="application/ld+json" nonce="{{ nonce }}">
   {
     "@context": "https://schema.org",
     "@type": "Article",
     "headline": "{{ story.title }}",
     "description": "{{ story.description }}",
     "image": "{{ story.media_content_url }}",
     "publisher": {
       "@type": "Organization",
       "name": "{{ story.publisher.name }}",
       "logo": {
         "@type": "ImageObject",
         "url": "{{ story.publisher.favicon }}"
       }
     },
     "datePublished": "{{ story.pub_date.replace('/', '-') }}",
     "mainEntityOfPage": {
       "@type": "WebPage",
       "@id": "{{ request.url }}"
     }
   }
</script>
{% endblock %}