{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}

{% block edit_profile_content %}
<h3>User's Information</h3>
<hr>
<form method="post" action="{{ url_for('views.edit_user_settings', username=user.username) }}">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
   <div class="input-group mb-3">
      <span class="input-group-text">@</span>
      <div class="form-floating">
         <input type="text" name="username" class="form-control" id="floatingInputGroup1" placeholder="Username" value="{{ user.username }}">
         <label for="floatingInputGroup1">Username</label>
      </div>
   </div>
   <div class="mb-3">
      <div class="input-group">
         <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
         <div class="form-floating">
            <input name="email" type="email" class="form-control" id="floatingInputEmail" placeholder="Email" value="{{ session['email_address'] }}">
            <label for="floatingInputEmail">Email</label>
         </div>
      </div>
   </div>

   <div class="input-group mt-3">
            <div class="form-floating flex-grow-1">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="new_password" maxlength="50" minlength="8" aria-describedby="floatingPasswordIcon" required>
                <label for="floatingPassword">Password</label>
                <div class="invalid-feedback">
                    Please provide a password with 8 to 50 characters.
                </div>
            </div>
            <span class="input-group-text password-toggle" id="floatingPasswordIcon">
                <i class="fa-solid fa-eye" data-toggle="floatingPassword"></i>
            </span>
        </div>
        <div id="passwordStrengthDisplay" class="mt-1"></div>


        <div class="input-group mb-3 mt-3">
            <div class="form-floating flex-grow-1">
                <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" name="confirm_password" maxlength="50" minlength="8" required>
                <label for="floatingConfirmPassword">Confirm Password</label>
                <div class="invalid-feedback">
                    Passwords must match.
                </div>
            </div>
            <span class="input-group-text password-toggle" id="floatingConfirmPasswordIcon">
                <i class="fa-solid fa-eye" data-toggle="floatingConfirmPassword"></i>
            </span>
        </div>
   
   <div class="cf-turnstile" data-sitekey="0x4AAAAAAAN8p0y-GxgH2k2X" data-theme="{{ request.cookies.get('theme', 'light') }}"></div>

   <div class="mb-3">
      <div class="form-floating">
         <input name="current_password" type="password" class="form-control" id="floatInputCurrentPassword" placeholder="Your current password" required>
         <label for="floatInputCurrentPassword">Current Password</label>
      </div>
   </div>
   
   <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-1"></i>Save</button>
        <span class="invisible">.</span>
        <a type="button" role="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can me-1"></i>Delete Account</a>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script defer nonce="{{ nonce }}"
  src="{{ url_for('static', filename='js/passwordUtility.js') }}"
></script>
<script nonce="{{ nonce }}"
  src="{{ url_for('static', filename='js/registerFormValidation.js') }}"
></script>
{% endblock %}