{% extends "base.html" %} {% block title %}Error {{ error_code }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}
{% block content %}
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Infomundi> Error <span class="errorcode">{{ error_code }}</span></h1>
  <p class="output">{{ error_message }}</p>
  <p class="output">Please try to <a href="{{ url_for('views.home') }}">return to the homepage</a>.</p>
  <p class="output">Good luck.</p>
</div>
{% endblock %}