{% extends "base.html" %}{% block title %}Account Recovery{% endblock %}
{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start {% if is_mobile %}mb-3{% endif %}">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Account Recovery</h1>
        <p class="col-lg-10 fs-5">To begin the process of recovering your account, please enter the email address you used to register with Infomundi. After submitting your email, we will send you detailed instructions on how to reset your password and regain access to your account.<br><br>If you encounter any issues or do not receive the recovery instructions, please don't hesitate to <a href="{{ url_for('views.contact') }}" class="text-decoration-none">contact our team</a> for assistance.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
      	<img fetchpriority="high" src="{{ url_for('static', filename='img/illustrations/forgot_password.webp') }}" class="d-block mx-lg-auto img-fluid" alt="Forgot Password Illustration" width="500" height="500">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary needs-validation" novalidate method="post" action="{{ url_for('auth.forgot_password') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" minlength="10" required>
            <label for="floatingInput">Email address</label>
            <div class="invalid-feedback">
                Please provide a valid email address.
            </div>
        </div>

        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAN8p0y-GxgH2k2X"></div>

        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Submit</button>
    </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script
    src="{{ url_for('static', filename='js/defaultFormValidation.js') }}"
></script>
{% endblock %}