{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block styles %}
<style>
    #chartdiv {
    width: 100%;
    height: 800px;
    max-width: 100%;
    }
    .fa-solid me-1 {
    color: #ffffff;
    }
    {% if request.cookies.get('theme') == 'dark' %}
    .accordion {
    --bs-accordion-btn-bg: #202429;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-active-bg: #202429;
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-bg: #131619;
    --bs-accordion-color: #ffffff;
    --bs-accordion-btn-focus-box-shadow: none;
    }
    .accordion-flush .accordion-button {
    border-top: 1px solid #000000;
    }
    .accordion-flush .accordion-item:last-child .accordion-button.collapsed,
    .accordion-flush .accordion-item:last-child .accordion-body {
    border-bottom: 1px solid #000000;
    }
    {% else %}
    .accordion {
    --bs-accordion-btn-bg: #ffffff;
    --bs-accordion-active-bg: #ffffff;
    --bs-accordion-btn-color: #000000;
    --bs-accordion-active-color: #000000;
    }
    {% endif %}
    @media (max-width: 580px) {
    #chartdiv {
    width: 100%;
    height: 50vh;
    margin-top: -3.5vh;
    }
    }
</style>
{% endblock %}
{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-xl-3 text-center">
        <div>
            <h1 class="fs-2"><label for="query">Search for a Country or Specific Information</label></h1>
            <form action="{{ url_for('api.search') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="input-group justify-content-center">
                    <button aria-label="Submit search button" type="submit" class="input-group-text {% if request.cookies.get('theme', '') != 'dark' %}border-black border-opacity-50{% endif %}" id="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input 
                        class="form-control autocomplete {% if request.cookies.get('theme', '') != 'dark' %}border-black border-opacity-50{% endif %}" 
                        aria-describedby="search-icon"
                        style="max-width: 360px;"
                        type="search" 
                        aria-label="Search Field" 
                        minlength="3" 
                        id="query" 
                        name="query"
                        />
                </div>
            </form>
            <p class="fs-3 mt-2 mb-2">or</p>
            <div class="d-inline-flex">
                <h2 class="fs-1">Use the Globe</h2>
            </div>
            {% if not is_mobile %}
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa-solid me-1 fa-chart-simple"></i><span class="ms-2">Statistics</span>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse {{ 'show' if not is_mobile}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="d-flex flex-row text-start justify-content-evenly">
                                <div class="p-2">
                                    <p class="fs-4"><i class="fa-solid me-1 fa-database"></i>Database</p>
                                    <p class="fs-6"><i class="fa-solid me-1 fa-globe"></i>Countries: {{ statistics['total_countries_supported'] }}</p>
                                    <p class="fs-6"><i class="fa-solid me-1 fa-newspaper"></i>News: {{ statistics['total_news'] }}</p>
                                    <p class="fs-6"><i class="fa-solid me-1 fa-rss"></i>Sources: {{ statistics['total_feeds'] }}</p>
                                    <p class="fs-6"><i class="fa-solid me-1 fa-arrows-rotate"></i>Updated: {{ statistics['last_updated_message'] }}</p>
                                </div>
                                <div class="p-2">
                                    <p class="fs-4"><i class="fa-solid me-1 fa-users-rectangle"></i>Community</p>
                                    <p class="fs-6"><i class="fa-solid me-1 fa-comments"></i>Comments: {{ statistics['total_comments'] }}</p>
                                    <p class="fs-6"><i class="fa-solid me-1 fa-eye"></i>Views: {{ statistics['total_clicks'] }}</p>
                                    <p class="fs-6"><i class="fa-solid fa-users me-1"></i>Users: {{ statistics['total_users'] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-xl-5 my-3">
        <div id="chartdiv"></div>
    </div>

    <div class="col-xl-3">
        {% if not is_mobile %}
        <div>
            <h2 class="mb-5"><i class="fa-solid fa-earth-americas me-2"></i>World Trackers - <span id="marketDate"></span></h2>
        </div>

        <div>
            <h3><i class="fa-solid fa-arrow-trend-up me-2"></i>Country Indexes</h3>
            <div id="stocks-ticker"></div>
        </div>

        <div class="my-5">
            <h3><i class="fa-solid fa-money-bill-trend-up me-2"></i>Currencies</h3>
            <div id="currencies-ticker"></div>
        </div>

        <div>
            <h3><i class="fa-brands fa-bitcoin me-2"></i>Crypto</h3>
            <div id="crypto-ticker"></div>
        </div>

        <div class="mt-5 d-flex justify-content-end">
            <p>View More<i class="fa-solid fa-arrow-right ms-2"></i></p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script defer nonce="{{ nonce }}"
        src="{{ url_for('static', filename='js/amcharts/index.js') }}"
        ></script>

    <script nonce="{{ nonce }}">
        document.addEventListener('DOMContentLoaded', () => {
            fetchDataAndRenderTicker('/api/currencies', 'currencies-ticker', 'Currencies', 'fa-money-bill-trend-up');
            fetchDataAndRenderTicker('/api/stocks', 'stocks-ticker', 'Country Indexes', 'fa-arrow-trend-up');
            fetchDataAndRenderTicker('/api/crypto', 'crypto-ticker', 'Cryptocurrencies', 'fa-coins');

            function fetchDataAndRenderTicker(apiEndpoint, containerId, title, iconClass) {
                fetch(apiEndpoint)
                    .then(response => response.json())
                    .then(data => {
                        renderTicker(data, containerId, title, iconClass);
                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                    });
            }

            function renderTicker(data, containerId, title, iconClass) {
                const container = document.getElementById(containerId);
                const marketDate = document.getElementById('marketDate');
                marketDate.innerHTML = data[0]?.date;
                let html = `
                    <div class="hwrap-home">
                        <div class="hmove-home" style="color: white">
                `;

                data.forEach(entry => {
                    // If the container is stocks-ticker, add the country flag image
                    let itemHtml = `<div class="hitem" style="color: white">`;

                    if (containerId === 'stocks-ticker' && entry.country && entry.country.code) {
                        itemHtml += `
                            <img alt="${entry.country.code} flag"
                                 data-src="https://infomundi.net/static/img/flags/4x3/${entry.country.code}.svg"
                                 class="lazyload flag">
                        `;
                    }

                    itemHtml += `
                        <span style="color: white;">${entry.name}</span>
                        <span style="color: ${entry.color};">
                            ${entry.symbol} ${entry.changes.percent}
                        </span>
                        ${entry.color === '#FF6666' ? 
                            '<span style="color: #FF6666">&#8659;</span>' : 
                            '<span style="color: #00FF00">&#8657;</span>'
                        }
                    </div>
                    `;

                    html += itemHtml;
                });

                html += `
                        </div>
                    </div>
                `;

                container.innerHTML = html;
            }
        });

    </script>

    {% assets "js_home" %}
    <script defer nonce="{{ nonce }}" type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}