{% extends "base.html" %} {% block title %}Sign in{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Sign in
        </div>
        <div class="card-body">
          <form method="post" action="{{ url_for('auth.login') }}">
            <div class="mb-3">
              <label for="username" class="form-label"><i class="fa-solid fa-envelope me-1"></i>Email</label>
              <input type="email" class="form-control" id="email" name="email" minlength="10" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"><i class="fa-solid fa-lock me-1"></i>Password</label>
              <input type="password" class="form-control" id="password" name="password" maxlength="50" minlength="8" required>
            </div>
            <div class="mb-2">
              <div class="cf-turnstile" data-sitekey="0x4AAAAAAAN8p0y-GxgH2k2X"></div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="yes" id="rememberMe" name="remember_me">
              <label class="form-check-label" for="rememberMe">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script 
  src="https://challenges.cloudflare.com/turnstile/v0/api.js" 
  async defer
></script>
{% endblock %}