{% extends "base.html" %}{% block title %}Maintenance{% endblock %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img fetchpriority="high" src="{{ url_for('static', filename='img/illustrations/maintenance.webp') }}" class="d-block mx-lg-auto img-fluid" alt="Maintenance Illustration" width="500" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-1">Maintenance</h1>
        <h3 class="mb-1">Started Wed 13 Mar, 14:00 (UTC)</h3>
        <!--<h5 class="mb-3">Estimated: 60 minutes</h5>-->
        <p class="lead">We apologize for the inconvenience, but we're performing some maintenance in this page at the moment. Be right back!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" role="button" class="btn btn-primary btn-lg px-4 me-md-2" href="{{ url_for('views.home') }}">Return Home</a>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Nevermind, I'll wait here.</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}