{% extends "base.html" %} {% block title %}{{ country_name }}{% endblock %}
{% block styles %}
<style>
    .image-card {
      position: relative;
    }
    .tip-logo {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 4px;
      border-radius: 5px;
      z-index: 10;
    }

    .line-clamp-3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .line-clamp-4 {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-body {
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-footer {
      margin-right: -15px;
      margin-left: -15px;
    }

  .description-text {
    overflow-y: auto;
    max-height: 20vh;
  }
  
  @media (max-width: 600px) {
    .description-text {
      max-height: 30vh;
    }
    
    /* Smaller search button and dropdown */
    .btn-outline-primary {
        font-size: 0.9rem; /* Smaller font size */
        padding: 5px 10px; /* Smaller padding */
    }

    /* Smaller input field */
    .form-control {
        font-size: 0.8rem; /* Smaller font size */
        padding: 5px 10px; /* Smaller padding */
    }

    /* Ensure the dropdown items match the new button size */
    .dropdown-item {
        font-size: 0.9rem; /* Smaller font size */
        padding: 3px 10px; /* Smaller padding */
    }
    .nav-item .nav-link {
      font-size: 0.9rem; /* Smaller font size */
      padding: 5px 10px; /* Smaller padding */
    }

    .nav-item {
        margin-right: 5px; /* Adjust space between nav items */
    }
  }

  #offcanvasWithBothOptions {
    border-radius: 1%;
    width: 95%;
    height: 85vh;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
  }

.list-group {
  width: 100%;
  max-width: 460px;
  /* margin-inline: 1.5rem; */
}

.form-check-input:checked + .form-checked-content {
  opacity: .5;
}

.form-check-input-placeholder {
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-secondary-bg);
}
.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.list-group-radio .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-radio .form-check-input {
  z-index: 2;
  margin-top: -.5em;
}
.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
  background-color: var(--bs-secondary-bg);
}

.list-group-radio .form-check-input:checked + .list-group-item {
  background-color: var(--bs-body);
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 2px var(--bs-primary);
}
.list-group-radio .form-check-input[disabled] + .list-group-item,
.list-group-radio .form-check-input:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}
</style>
{% endblock %}
{% block content %}
<div class="row mt-4">
  <div class="col">
  
  </div>
  <div class="col-sm-6 text-center">
    <a class="fs-1 fw-bold text-decoration-none" href="/news?country={{ country_code }}">
      <img src="https://infomundi.net/static/img/flags/4x3/{{ country_code }}.svg" width="48" height="36" style="border-radius: 3px;" class="align-middle me-2" alt="{{ country_name }}'s flag">{{ country_name }}
    </a><br>
    
    {% if nation_data %}
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Area</strong>: {{ nation_data['area'] }} {% if area_rank %}(#{{ area_rank['rank'] }}){% endif %}<br><strong>Borders</strong>: {{ nation_data['borders'] }}"
    ><i class="fa-solid fa-chart-area"></i></span>
    
    {% if gdp_per_capita != None and gdp != None %}
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Population</strong>: {{ nation_data['population'] }}<br><strong>HDI</strong>: {{ nation_data['hdi'] }}<br><strong>GDP Per Capita</strong>: {{ gdp_per_capita[country_name]['gdp'] }} - From {{ gdp_per_capita[country_name]['date'] }}{% if main_religion %}<br><strong>Main Religion</strong>: {{ main_religion }}{% endif %}"
    ><i class="fa-solid fa-users"></i></span>
    {% endif %}
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Capital</strong>: {{ nation_data['capital'] }}<br><strong>Leader</strong>: {{ nation_data['leader'] }}<br><strong>Member of the United Nations</strong>: {{ nation_data['united_nations_member'] }}"
    ><i class="fa-solid fa-landmark-flag"></i></span>
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Languages</strong>: {{ nation_data['languages'] }}<br><strong>Top Level Domain</strong>: {{ nation_data['top_level_domain'] }}"
    ><i class="fa-solid fa-language"></i></span>
    
    {% if gdp_per_capita != None and gdp != None %}
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Currency</strong>: {{ nation_data['currency'] }}<br><strong>GDP</strong>: {{ gdp[country_name]['gdp'] }} - From {{ gdp[country_name]['date'] }}"
    ><i class="fa-solid fa-dollar-sign"></i></span>
    {% endif %}
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Time in {{ nation_data['capital'] }} (Capital)</strong>: {{ current_time }}<br><strong>Time Zones</strong>: {{ nation_data['timezones'] }}"
    ><i class="fa-solid fa-clock"></i></span>
    
    {% else %}
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="We apologize, but there's no geopolitical data available for {{ country_name }}. We'll look into that as soon as possible."
    ><i class="fa-solid fa-circle-info"></i></span>
    {% endif %}
    
    {% if tags %}
      <span class="badge text-bg-danger rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" 
      data-bs-title="The most popular terms in {{ country_name.title() }} {{ news_filter.title() }} as of this week">
        <i class="fa-solid fa-fire"></i>
      </span>
      {% for tag in tags %}
        <a href="https://infomundi.net/news?country={{ country_code }}&section={{ news_filter }}&query={{ tag }}"><span class="badge text-bg-secondary">{{ tag }}</span></a>
      {% endfor %}
    {% endif %}
    
{% if query %}
  <div class="d-flex justify-content-center mt-3">
    <p>
    {% if session.get('want_translate', '') %}<span class="badge text-bg-success fw-normal" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="This query has been translated from '{{ original_query }}'."><i class="fa-solid fa-language me-1"></i>Translated</span>{% endif %}<span class="ms-1 fw-light">{{ feed_length }} results for "{{ query }}"</span>
    </p>
  </div>
{% endif %}
  </div>
  <div class="col">
  
  </div>
</div>


<div class="container justify-content-center">

  <div class="row justify-content-center mb-4">
    <div class="col-md-10">
      <form id="filterForm" class="form-inline">
        <input type="hidden" id="country" name="country">

        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
          <div class="list-group list-group-checkable d-grid gap-2 border-0">
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category1" value="general" checked>
            <label class="list-group-item rounded-3 py-3" for="category1">
              <i class="fa-solid fa-globe"></i> General
              <span class="d-block small opacity-50">All general news</span>
            </label>


            {% if 'politics' in supported_categories %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category2" value="politics">
            <label class="list-group-item rounded-3 py-3" for="category2">
              <i class="fa-solid fa-landmark"></i> Politics
                <span class="d-block small opacity-50">News related to politics</span>
            </label>
            {% else %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category2" value="politics" disabled>
            <label class="list-group-item rounded-3 py-3" for="category2">
              <i class="fa-solid fa-landmark"></i> Politics
                <span class="d-block small opacity-50">Not yet available in this country</span>
            </label>
            {% endif %}


            {% if 'economy' in supported_categories %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category3" value="economy">
            <label class="list-group-item rounded-3 py-3" for="category3">
              <i class="fa-solid fa-chart-line"></i> Economy
                <span class="d-block small opacity-50">News on economy and finance</span>
            </label>
            {% else %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category3" value="economy" disabled>
            <label class="list-group-item rounded-3 py-3" for="category3">
              <i class="fa-solid fa-chart-line"></i> Economy
              <span class="d-block small opacity-50">Not yet available in this country</span>
            </label>
            {% endif %}


            {% if 'technology' in supported_categories %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category4" value="technology">
            <label class="list-group-item rounded-3 py-3" for="category4">
              <i class="fa-solid fa-microchip"></i> Technology
                <span class="d-block small opacity-50">Latest in tech and gadgets</span>
            </label>
            {% else %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category4" value="technology" disabled>
            <label class="list-group-item rounded-3 py-3" for="category4">
              <i class="fa-solid fa-microchip"></i> Technology
                <span class="d-block small opacity-50">Not yet available in this country</span>
            </label>
            {% endif %}


          {% if 'sports' in supported_categories %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category5" value="sports">
              <label class="list-group-item rounded-3 py-3" for="category5">
                <i class="fa-solid fa-football-ball"></i> Sports
                <span class="d-block small opacity-50">Sports news and updates</span>
            </label>
          {% else %}
            <input class="list-group-item-check pe-none" type="radio" name="category" id="category5" value="sports" disabled>
              <label class="list-group-item rounded-3 py-3" for="category5">
                <i class="fa-solid fa-football-ball"></i> Sports
                <span class="d-block small opacity-50">Not yet available in this country</span>
              </label>
          {% endif %}
          </div>

          <!-- Filters -->
          <div class="list-group list-group-checkable d-grid gap-2 border-0">
            <!--
            <input class="list-group-item-check pe-none" type="radio" name="order_by" id="orderBy1" value="created_at" checked>
            <label class="list-group-item rounded-3 py-3" for="orderBy1">
              <i class="fa-solid fa-calendar-alt"></i> Created At
              <span class="d-block small opacity-50">Sort by creation date</span>
            </label>
            -->
            <input class="list-group-item-check pe-none" type="radio" name="order_by" id="orderBy4" value="pub_date" checked>
            <label class="list-group-item rounded-3 py-3" for="orderBy4">
              <i class="fa-solid fa-calendar-day"></i> Publication Date
              <span class="d-block small opacity-50">Sort by publication date</span>
            </label>

            <input class="list-group-item-check pe-none" type="radio" name="order_by" id="orderBy2" value="clicks">
            <label class="list-group-item rounded-3 py-3" for="orderBy2">
              <i class="fa-solid fa-mouse-pointer"></i> Clicks
              <span class="d-block small opacity-50">Sort by number of clicks</span>
            </label>

            <input class="list-group-item-check pe-none" type="radio" name="order_by" id="orderBy3" value="title">
            <label class="list-group-item rounded-3 py-3" for="orderBy3">
              <i class="fa-solid fa-heading"></i> Title
              <span class="d-block small opacity-50">Sort by title</span>
            </label>
          </div>

          <div class="list-group list-group-checkable d-grid gap-2 border-0">
            <input class="list-group-item-check pe-none" type="radio" name="order_dir" id="orderDir1" value="desc" checked>
            <label class="list-group-item rounded-3 py-3" for="orderDir1">
              <i class="fa-solid fa-sort-amount-down"></i> Descending
              <span class="d-block small opacity-50">Newest first</span>
            </label>

            <input class="list-group-item-check pe-none" type="radio" name="order_dir" id="orderDir2" value="asc">
            <label class="list-group-item rounded-3 py-3" for="orderDir2">
              <i class="fa-solid fa-sort-amount-up"></i> Ascending
              <span class="d-block small opacity-50">Oldest first</span>
            </label>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
          <div>
            <label for="query" class="form-label">Search</label>
            <input type="text" id="query" name="query" class="form-control" placeholder="Search terms...">
          </div>
          <div>
            <label for="specificDate" class="form-label">Specific Date</label>
            <input type="date" id="specificDate" name="specific_date" class="form-control">
          </div>
          <div>
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" id="startDate" name="start_date" class="form-control">
          </div>
          <div>
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" id="endDate" name="end_date" class="form-control">
          </div>
        </div>

        <button type="submit" class="btn btn-primary mb-2" id="filterButton">
          <span class="spinner-border spinner-border-sm" id="filterSpinner" style="display: none;" aria-hidden="true"></span>
          <span id="filterButtonText">Filter</span>
        </button>
      </form>
    </div>
  </div>

  <div class="row justify-content-center" id="storiesContainer">
    <!-- Stories will be inserted here -->
  </div>

  <div class="d-flex justify-content-center my-5">
    <div class="spinner-border" id="endPageSpinner" style="display: none; width: 3rem; height: 3rem;" aria-hidden="true" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
  
  <script nonce="{{ nonce }}" defer 
    src="{{ url_for('static', filename='js/renderStories.js') }}"
  ></script>

{% endblock %}