{% extends "base.html" %} {% block title %}Change Password{% endblock %}
{% block content %}

<div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 my-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img fetchpriority="high" src="{{ url_for('static', filename='img/illustrations/change_password.webp') }}" class="d-block mx-lg-auto img-fluid rounded" alt="Infomundi editing theme image" width="500" height="500">
      </div>
      <div class="col-lg-6">
        {% if current_user.in_recovery %}
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Account recovery for {{ current_user.username }}</h1>
        {% else %}
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Change password for {{ current_user.username }}</h1>
        {% endif %}
        
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" action="{{ url_for('auth.password_change') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          
          {% if not current_user.in_recovery %}
          <div class="input-group">
            <div class="form-floating flex-grow-1">
                <input type="password" class="form-control" id="floatingOldPassword" placeholder="Old Password" name="old_password" maxlength="50" minlength="8" aria-describedby="floatingOldPasswordIcon" required>
                <label for="floatingOldPassword">Old Password</label>
                <div class="invalid-feedback">
                    At least 8 characters
                </div>
            </div>

            <span class="input-group-text password-toggle" id="floatingOldPasswordIcon">
                <i class="fa-solid fa-eye" data-toggle="floatingOldPassword"></i>
            </span>
          </div>
          {% endif %}
          
          <div class="input-group mt-3">
            <div class="form-floating flex-grow-1">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="new_password" maxlength="50" minlength="8" aria-describedby="floatingPasswordIcon" required>
                <label for="floatingPassword">Password</label>
                <div class="invalid-feedback">
                    Please provide a password with 8 to 50 characters.
                </div>
            </div>
            <span class="input-group-text password-toggle" id="floatingPasswordIcon">
                <i class="fa-solid fa-eye" data-toggle="floatingPassword"></i>
            </span>
        </div>
        <div id="passwordStrengthDisplay" class="mt-1"></div>


        <div class="input-group mb-3 mt-3">
            <div class="form-floating flex-grow-1">
                <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" name="confirm_password" maxlength="50" minlength="8" required>
                <label for="floatingConfirmPassword">Confirm Password</label>
                <div class="invalid-feedback">
                    Passwords must match.
                </div>
            </div>
            <span class="input-group-text password-toggle" id="floatingConfirmPasswordIcon">
                <i class="fa-solid fa-eye" data-toggle="floatingConfirmPassword"></i>
            </span>
        </div>

          <div class="cf-turnstile" data-sitekey="0x4AAAAAAAN8p0y-GxgH2k2X" {% if is_mobile %}data-size="compact"{% endif %} data-theme="{{ request.cookies.get('theme', 'light') }}"></div>
          <button class="w-30 btn btn-lg btn-primary" type="submit">Change</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script defer nonce="{{ nonce }}"
  src="{{ url_for('static', filename='js/passwordUtility.js') }}"
></script>
<script nonce="{{ nonce }}"
  src="{{ url_for('static', filename='js/registerFormValidation.js') }}"
></script>
{% endblock %}