<!-- password_change.html -->
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@600&family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Password Change - Infomundi</title>
   </head>
   <body class="bg-dark">
      <div class="container mt-5">
         <div class="row justify-content-center">
            <div class="col-md-6">
               <div class="card bg-dark">
                  <div class="card-header text-light">
                     Password Change
                  </div>
                  <div class="card-body text-light">
                     {% with messages = get_flashed_messages() %}
                     {% if messages %}
                     <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        {{ message }}<br>
                        {% endfor %}
                     </div>
                     {% endif %}
                     {% endwith %}
                     <form method="post" action="{{ url_for('auth.password_change') }}">
                        <div class="mb-3">
                           <label for="old_password" class="form-label">Old Password:</label>
                           <input type="password" class="form-control bg-dark text-light" id="old_password" name="old_password" required>
                        </div>
                        <div class="mb-3">
                           <label for="new_password" class="form-label">New Password:</label>
                           <input type="password" class="form-control bg-dark text-light" id="new_password" name="new_password" required>
                        </div>
                        <div class="mb-3">
                           <label for="confirm_password" class="form-label">Confirm New Password:</label>
                           <input type="password" class="form-control bg-dark text-light" id="confirm_password" name="confirm_password" required>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Change Password</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap JS and dependencies -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   </body>
</html>
