{% extends "base.html" %} {% block title %}Change Password{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Password Change
        </div>
        <div class="card-body">
          <form method="post" action="{{ url_for('auth.password_change') }}">
            <div class="mb-3">
              <label for="old_password" class="form-label"><i class="fa-solid fa-lock me-1"></i>Old Password</label>
              <input type="password" class="form-control" id="old_password" name="old_password" required>
            </div>
            <div class="mb-3">
              <label for="new_password" class="form-label"><i class="fa-solid fa-user-lock me-1"></i>New Password</label>
              <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="mb-3">
              <label for="confirm_password" class="form-label"><i class="fa-solid fa-check-double me-1"></i>Confirm New Password:</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="mb-3">
              <div class="cf-turnstile" data-sitekey="0x4AAAAAAAN8p0y-GxgH2k2X"></div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script 
  src="https://challenges.cloudflare.com/turnstile/v0/api.js" 
  async defer
></script>
{% endblock %}