{% extends "base.html" %}{% block title %}Policies{% endblock %}
{% block about_content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <nav id="inf-scrollspy-navbar" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#privacy-policy">Privacy Policy</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#privacy-1">1. What information do we collect?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-2">2. How we use your information?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-3">3. Will Your Information Be Shared With Anyone?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-4">4. How Long Do We Keep Your Information?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-5">5. How Do We Keep Your Information Safe?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-6">6. Do We Collect Information from Minors?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-7">7. What Are Your Privacy Rights?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-8">8. Do We Make Updates to This Policy?</a>
            <a class="nav-link ms-3 my-1" href="#privacy-9">9. Cookies</a>
          </nav>
          <a class="nav-link" href="#community-policy">Community Policy</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#community-1">1. Respect for All Members</a>
            <a class="nav-link ms-3 my-1" href="#community-2">2. Content Guidelines</a>
            <a class="nav-link ms-3 my-1" href="#community-3">3. Engagement Rules</a>
            <a class="nav-link ms-3 my-1" href="#community-4">4. Privacy and Safety</a>
            <a class="nav-link ms-3 my-1" href="#community-5">5. Consequences of Violating the Policy</a>
            <a class="nav-link ms-3 my-1" href="#community-6">6. Changes to the Policy</a>
          </nav>
        </nav>
      </nav>
    </div>
    <div class="col-md-8">
      <div data-bs-spy="scroll" data-bs-target="#inf-scrollspy-navbar" data-bs-smooth-scroll="true" tabindex="0">
        <header>
          <h1>Privacy Policy</h1>
        </header>
          <div class="mb-5" id="privacy-policy">
            <p><strong>Last Updated:</strong> Mon 21 Oct, 2024 (10/21/2024) - 10:14 AM UTC-0</p>
            <p>Welcome to Infomundi. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy policy, or our practices with regards to your personal information, please contact us at <a href="mailto:contact@infomundi.net">contact@infomundi.net</a> or use the <a href="{{ url_for('views.contact') }}">contact form</a>.</p>
            <p>When you visit our website (https://infomundi.net/), and use our services, you trust us with your personal information. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it, and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our site.</p>
            <p>This privacy policy applies to all information collected through our website and related services.</p>
          </div>
          <div class="mb-5" id="privacy-1">
            <h2 class="mb-4">1. What Information Do We Collect?</h2>
            <h3>Personal Information You Disclose to Us</h3>
            <p>We collect personal information that you voluntarily provide to us when registering at the website/posting comments/contacting us. The personal information that we collect depends on the context of your interactions with us and the website, the choices you make, and the features you use.</p>
            <h3>Information Automatically Collected</h3>
            <p>Some information — such as your Internet Protocol (IP) address and browser and device characteristics — is collected automatically when you visit our website. This information is stored in our servers and can be used for security purposes, like detecting unusual login attempts.</p>
          </div>
          <div class="mb-5" id="privacy-2">
            <h2 class="mb-2">2. How Do We Use Your Information?</h2>
            <p>We process your information for purposes based on compliance with our legal obligations, and/or your consent. We will never sell your data to any third parties.</p>
          </div>
          <div class="mb-5" id="privacy-3">
            <h2 class="mb-2">3. Will Your Information Be Shared With Anyone?</h2>
            <p>We only share information with your consent, or to comply with laws.</p>
          </div>
          <div class="mb-5" id="privacy-4">
            <h2 class="mb-2">4. How Long Do We Keep Your Information?</h2>
            <p>We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law.</p>
          </div>
          <div class="mb-5" id="privacy-5">
            <h2 class="mb-2">5. How Do We Keep Your Information Safe?</h2>
            <p>We employ <a href="https://en.wikipedia.org/wiki/Argon2" target="_blank">Argon2id</a>, recognized as one of the most robust cryptographic <a href="https://en.wikipedia.org/wiki/Hash_function" target="_blank">hashing algorithms</a> available, to ensure the security of your passwords. This method ensures that, even in the unlikely event an attacker gains access to our servers, your password remains securely encrypted.</p>
            <p>We support only <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security" target="_blank">Transport Layer Security</a> (TLS) versions 1.2 and 1.3 to safeguard our online interactions, encrypting the data exchanged between your device and our servers. This ensures that all communications remain confidential, protecting sensitive information from potential threats like "<a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack" target="_blank">man-in-the-middle</a>" attacks.</p>
            <p>Additionally, we take the privacy of your email address seriously. To ensure its protection, we do not store your email address as is in our database. Instead, before being stored, your email address is hashed using the <a href="https://debugpointer.com/security/sha512-overview" target="_blank">SHA-512 algorithm</a> plus a secure <a href="https://en.wikipedia.org/wiki/Salt_%28cryptography%29" target="_blank">salt</a>. This hashing process converts your email address into a unique string of characters that cannot be reversed unless you already know the original email address.</p>
            <p>Realistically, only your profile username, display name, description values, and account creation and last login timestamps remain in <a href="https://simple.wikipedia.org/wiki/Cleartext" target="_blank">cleartext</a> in our database. Information like your IP address history, two-factor secret token, and account recovery token are encrypted using a <a href="https://en.wikipedia.org/wiki/Key_derivation_function" target="_blank">derived secret key</a> from your password plus a secure <a href="https://en.wikipedia.org/wiki/Salt_%28cryptography%29" target="_blank">salt</a>. This derived key is never stored in our database, but created every time the cleartext password is available to us (during the login process) and is stored encrypted in the user's <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">session cookie</a>.</p>
            <p>Please be assured that your privacy is our priority, and we continuously implement and update our security measures to safeguard your data.</p>
          </div>
          <div class="mb-5" id="privacy-6">
            <h2 class="mb-2">6. Do We Collect Information from Minors?</h2>
            <p>We do not knowingly collect data from or market to children under 18 years of age.</p>
          </div>
          <div class="mb-5" id="privacy-7">
            <h2 class="mb-2">7. What Are Your Privacy Rights?</h2>
            <p>You may review, change, or terminate your account at any time through the settings dashboard. All your data will be purged from our database.</p>
          </div>
          <div class="mb-5" id="privacy-8">
            <h2 class="mb-2">8. Do We Make Updates to This Policy?</h2>
            <p>Yes, we will update this policy as necessary.</p>
          </div>
          <div class="mb-5" id="privacy-9">
            <h2>9. Cookies</h2>
            <p>We only use necessary cookies that are crucial for the proper operation of the website.</p>
            <p>When you choose to enable translation on our website (under the "account" tab on the top right of the navigation bar, "Enable Maximus translation") for your convenience, we utilize Google Translate services. Google Translate may use cookies to provide translation services effectively. However, please note that enabling translation does not involve the processing of any personal information by our website. By continuing to use this feature, you consent to the use of cookies by Google Translate. For more information on how Google handles data, please refer to <a href="https://policies.google.com/privacy" target="_blank">Google's Privacy Policy</a>.</p>
            <p>Also, we utilize Cloudflare for security purposes on this website. Cloudflare helps protect our website against malicious attacks and ensures its availability. While Cloudflare may collect certain data for security analytics, none of your personal information is directly processed by our website. By continuing to use this site, you consent to the use of cookies for security purposes. You can learn more about how they handle data by visiting <a href="https://www.cloudflare.com/privacypolicy/" target="_blank">Cloudflare's Privacy Policy</a>.</p>
            <p>We utilize a self-hosted instance of <a href="https://comentario.app" target="_blank">Comentario</a> under the domain name "commento.infomundi.net" for our commenting system. Comentario may use cookies for its functionality, such as remembering your preferences and login status. Additionally, when you create an account on our website, we utilize Comentario Single Sign-On (SSO) to automatically create an account for you in the Comentario self-hosted instance. However, please note that your personal information is securely managed and not directly processed by our website through Comentario. By using our commenting system and creating an account, you consent to the use of cookies by Comentario. For more information on how they handle data, please refer to <a href="https://docs.comentario.app/en/legal/privacy/" target="_blank">Comentario's Privacy Policy</a>.</p>
            <p>Cookies used by our website:</p>
            <ol>
              <li><code>theme</code> (expires in 7 days) &ndash; is only created if you change the website theme.</li>
              <li><code>remember_token</code> (expires in 15 days or when user logs out) &ndash; is created when you choose to remember your session when you sign in.</li>
              <li><code>infomundi-session</code> (expires 15 days after user login or upon browser closure if the user prefer to stay logged out) &ndash; is created/updated when you view almost every page of this website. Holds information regarding the last country you visited in our website, the last story you clicked, and a lot more. This cookie is essential for the website to work properly.</li>
            </ol>
          </div>
        <hr class="my-5">
        <header>
          <h1>Community Policy</h1>
        </header>
          <div class="mb-5" id="community-policy">
            <p><strong>Last Updated:</strong> Thu 15 Feb, 2024 (02/15/2024) - 19:34 UTC</p>
            <p>We're thrilled to have you as part of our community. Our goal is to create an inclusive, respectful, and engaging space where all members feel valued and safe. To ensure this, we ask all members to adhere to our Community Content Policy.</p>
            <p>If you have any questions or concerns about this community policy, please contact us at <a href="mailto:contact@infomundi.net">contact@infomundi.net</a> or use the <a href="{{ url_for('views.contact') }}">contact form</a>.</p>
          </div>
          <div class="mb-5" id="community-1">
            <h2 class="mb-2">1. Respect for All Members</h2>
            <ul>
              <li>Treat all community members with respect.</li>
              <li>Personal attacks, harassment, bullying, and hate speech are strictly prohibited.</li>
              <li>Discrimination based on race, ethnicity, gender, sexual orientation, age, disability, religion, or any other personal characteristic will not be tolerated.</li>
            </ul>
          </div>
          <div class="mb-5" id="community-2">
            <h2 class="mb-2">2. Content Guidelines</h2>
            <ul>
              <li>Share content that is relevant and you have the right to distribute, respecting intellectual property rights.</li>
              <li>Do not post nor share explicit, obscene, or violent content. This inlude links to third parties.</li>
              <li>Do not share nor promote false information.</li>
            </ul>
          </div>
          <div class="mb-5" id="community-3">
            <h2 class="mb-2">3. Engagement Rules</h2>
            <ul>
              <li>All kinds of spamming is prohibited.</li>
              <li>Please, report any content or behavior that violates our policies.</li>
              <li>Do not use the platform for illegal activities or to promote dangerous organizations.</li>
            </ul>
          </div>
          <div class="mb-5" id="community-4">
            <h2 class="mb-2">4. Privacy and Safety</h2>
            <ul>
              <li>Protect the privacy of others. Do not share personal information without consent.</li>
              <li>Be mindful of the information you share and its potential impact on others and yourself.</li>
            </ul>
          </div>
          <div class="mb-5" id="community-5">
            <h2 class="mb-2">5. Consequences of Violating the Policy</h2>
            <ul>
              <li>Violations may result in a warning, content removal, temporary suspension, or permanent ban, depending on the severity.</li>
              <li>We reserve the right to take appropriate action to ensure the community remains a safe and welcoming space for all.</li>
            </ul>
          </div>
          <div class="mb-5" id="community-6">
            <h2 class="mb-2">6. Changes to the Policy</h2>
            <ul>
              <li>We may update this policy as needed to reflect changes in our community or legal requirements. We encourage members to review it periodically.</li>
              <li>Changes to the policy will be listed in our <a href="https://github.com/Infomundi-Project" target="_blank">changelog</a>.</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
