{% extends "base.html" %} {% block title %}Register{% endblock %}
{% block styles %}
<style>
  .form-group {
  padding-bottom: 10px;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card mb-3">
        <img src="{{ url_for('static', filename='img/logos/wide-dark-bg.png') }}" class="card-img-top" alt="Infomundi Logo">
        <div class="card-header">
          Welcome to Infomundi! Sign in by filling out this form.
        </div>
        <div class="card-body">
          <form method="post" action="{{ url_for('auth.register') }}">
            <div class="form-group">
              <label for="email" class="form-label"><i class="fa-solid fa-envelope me-1"></i>Email</label>
              <input type="email" class="form-control" id="email" name="email" minlength="10" required>
            </div>
            <div class="form-group">
              <label for="username"><i class="fa-solid fa-user me-1"></i>Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" maxlength="30" minlength="3" required>
              <div id="usernameHelp" class="form-text text-secondary"><i class="fa-solid fa-circle-info me-1"></i>Your username should not have more than 30 characters.</div>
            </div>
            <div class="form-group">
              <label for="password"><i class="fa-solid fa-lock me-1"></i>Password</label>
              <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" maxlength="50" minlength="8" required>
              <div id="passwordHelp" class="form-text text-secondary"><i class="fa-solid fa-circle-info me-1"></i>Your password must have at least 8 characters and at least one number.</div>
            </div>
            <div class="form-group">
              <label for="confirm_password"><i class="fa-solid fa-check-double me-1"></i>Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" maxlength="50" minlength="8" required>
            </div>
            <div class="mb-3 mt-2">
              <div class="cf-turnstile" data-sitekey="0x4AAAAAAAN8p0y-GxgH2k2X"></div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script 
  src="https://challenges.cloudflare.com/turnstile/v0/api.js" 
  async defer
></script>
{% endblock %}