{% extends "base.html" %} {% block title %}{{ country_name }} {{ news_filter.title() }}{% endblock %}
{% block styles %}
<style>
  .description-text {
    overflow-y: auto;
    max-height: 20vh;
  }
  
  @media (max-width: 600px) {
    .description-text {
      max-height: 30vh;
    }
    /* Smaller search button and dropdown */
    .btn-outline-primary {
        font-size: 0.8rem; /* Smaller font size */
        padding: 5px 10px; /* Smaller padding */
    }

    /* Smaller input field */
    .form-control {
        font-size: 0.8rem; /* Smaller font size */
        padding: 5px 10px; /* Smaller padding */
    }

    /* Ensure the dropdown items match the new button size */
    .dropdown-item {
        font-size: 0.8rem; /* Smaller font size */
        padding: 3px 10px; /* Smaller padding */
    }
    .nav-item .nav-link {
      font-size: 0.8rem; /* Smaller font size */
      padding: 5px 10px; /* Smaller padding */
    }

    .nav-item {
        margin-right: 5px; /* Adjust space between nav items */
    }
  }

  #offcanvasWithBothOptions {
    border-radius: 1%;
    width: 95%;
    height: 85vh;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
  }
</style>
{% endblock %}
{% block content %}


<div class="offcanvas shadow-lg" data-bs-backdrop="static" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
    <div id="comments-section" class="container my-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
          <h3>Comments <span id="total-comments" class="badge bg-secondary">0</span></h3>
          <div>
              <select id="sort-comments" aria-label="Sort Comments:" class="form-select form-select-sm w-auto">
                  <option value="top">Top Comments</option>
                  <option value="newest">Newest First</option>
                  <option value="oldest">Oldest First</option>
              </select>
          </div>
      </div>

      <div class="mb-4">
          {% if current_user.is_authenticated %}
          <div class="d-flex align-items-start">
              <img src="{{ current_user.avatar_url }}" alt="{{ current_user.username }}'s avatar" class="rounded-circle me-2" style="width: 48px; height: 48px;">
              <textarea id="new-comment" class="form-control me-2" rows="2" placeholder="Add a comment..."></textarea>
              <button id="cooldown-button" class="btn btn-secondary">Submit</button>
          </div>
          {% else %}
            <p class="fs-3 text-decoration-none">You must <a href="{{ url_for('auth.register') }}">create an account</a> or <a href="{{ url_for('auth.login') }}">sign in</a> in order to interact with the comments section.</p>
          {% endif %}
      </div>
      
      <div id="comments-list" class="list-group"></div>
    </div>
    
  </div>
</div>


<div class="row mt-4">
  <div class="col">
  
  </div>
  <div class="col-sm-6 text-center">
    <a class="fs-1 fw-bold text-decoration-none" href="/news?country={{ country_code }}">
      <img src="https://hatscripts.github.io/circle-flags/flags/{{ country_code }}.svg" width="48" height="48" class="rounded-circle me-2" alt="{{ country_name }}'s flag">{{ country_name }}
    </a><br>
    
    {% if nation_data %}
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Area</strong>: {{ nation_data['area'] }} {% if area_rank %}(#{{ area_rank['rank'] }}){% endif %}<br><strong>Borders</strong>: {{ nation_data['borders'] }}"
    ><i class="fa-solid fa-chart-area"></i></span>
    
    {% if gdp_per_capita != None and gdp != None %}
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Population</strong>: {{ nation_data['population'] }}<br><strong>HDI</strong>: {{ nation_data['hdi'] }}<br><strong>GDP Per Capita</strong>: {{ gdp_per_capita[country_name]['gdp'] }} - From {{ gdp_per_capita[country_name]['date'] }}{% if main_religion %}<br><strong>Main Religion</strong>: {{ main_religion }}{% endif %}"
    ><i class="fa-solid fa-users"></i></span>
    {% endif %}
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Capital</strong>: {{ nation_data['capital'] }}<br><strong>Leader</strong>: {{ nation_data['leader'] }}<br><strong>Member of the United Nations</strong>: {{ nation_data['united_nations_member'] }}"
    ><i class="fa-solid fa-landmark-flag"></i></span>
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Languages</strong>: {{ nation_data['languages'] }}<br><strong>Top Level Domain</strong>: {{ nation_data['top_level_domain'] }}"
    ><i class="fa-solid fa-language"></i></span>
    
    {% if gdp_per_capita != None and gdp != None %}
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Currency</strong>: {{ nation_data['currency'] }}<br><strong>GDP</strong>: {{ gdp[country_name]['gdp'] }} - From {{ gdp[country_name]['date'] }}"
    ><i class="fa-solid fa-dollar-sign"></i></span>
    {% endif %}
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="<strong>Time in {{ nation_data['capital'] }} (Capital)</strong>: {{ current_time }}<br><strong>Time Zones</strong>: {{ nation_data['timezones'] }}"
    ><i class="fa-solid fa-clock"></i></span>
    
    {% else %}
    
    <span class="badge text-bg-primary mt-3" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="top" 
    data-bs-title="We apologize, but there's no geopolitical data available for {{ country_name }}. We'll look into that as soon as possible."
    ><i class="fa-solid fa-circle-info"></i></span>
    {% endif %}

    <!-- Search Form -->
  <center>
    <form role="search" action="javascript:;" onsubmit="submitSearch()" style="max-width: 70vh">
      <div class="input-group mb-3 mt-4">
        <button class="btn btn-outline-primary dropdown-toggle notranslate" type="button" id="infLanguageMenu" data-bs-toggle="dropdown" aria-label="Translate button" aria-expanded="false">
            <i class="fa-solid fa-language me-1"></i>Language
          </button>
          <ul class="dropdown-menu inf-language-menu notranslate" aria-labelledby="infLanguageMenu">
            {% for lang in page_languages %}
              <li><a class="dropdown-item" href="#" name="{{ lang['lang'] }}">{{ lang['lang'] }}</a></li>
            {% endfor %}
          </ul>

        <input type="text" class="form-control border-primary" placeholder="Search in {{ country_name }} {{ news_filter.title() }}" aria-label="Search query" id="searchForTerm" name="query" minlength="3">

        <button class="btn btn-outline-primary" type="button" aria-label="Submit search button" onclick="submitSearch()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </center>
    <!-- End Search Form -->
    
    {% if tags %}
      <span class="badge text-bg-danger rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" 
      data-bs-title="The most popular terms in {{ country_name.title() }} {{ news_filter.title() }} as of this week">
        <i class="fa-solid fa-fire"></i>
      </span>
      {% for tag in tags %}
        <a href="https://infomundi.net/news?country={{ country_code }}&section={{ news_filter }}&query={{ tag }}"><span class="badge text-bg-secondary">{{ tag }}</span></a>
      {% endfor %}
    {% endif %}

    <ul class="nav nav-pills justify-content-center mb-2 mt-4">
      
      {% for category in all_categories %}
        {% if category in supported_categories %}
          <li class="nav-item">
            <a class="nav-link {{ 'active' if category in selected_filter }}" href="/news?country={{ country_code }}&section={{ category }}">{{ category.title() }}</a>
          </li>
        {% else %}
          <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" 
            data-bs-title="We apologize, but currently there's no {{ category }} information available. Meanwhile, you can use the contact form to recommend news sources to us.">
            <a class="nav-link disabled" href="#"><small>{{ category.title() }}</small></a>
          </li>
        {% endif %}
      
      {% endfor %}
    
    </ul>
{% if total_pages %}
  {% if total_pages < 7 %}
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center mt-3">
      {% for page in range(1, total_pages+1) %} 
      <li class="page-item {{ 'active' if page_num == page }}">
        <a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page }}">{{ page }}</a>
      </li>
      {% endfor %} 
    </ul>
  </nav>
  {% else %}
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center mt-3">
      <li class="page-item {{ 'disabled' if page_num == 1 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page_num - 1 }}"><i class="fa-solid fa-angle-left"></i></a></li>
      <li class="page-item {{ 'active' if page_num == 1 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page=1">1</a></li>
      <li class="page-item {{ 'active' if page_num == 2 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page=2">2</a></li>
      
      {% if page_num < 3 or total_pages - 2 < page_num %}
      <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
      {% else %}
      <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
      {% endif %}
      
      <li class="page-item {{ 'active' if page_num == total_pages - 1 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ total_pages - 1 }}">{{ total_pages - 1 }}</a></li>
      <li class="page-item {{ 'active' if page_num == total_pages }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ total_pages }}">{{ total_pages }}</a></li>
      
      <li class="page-item {{ 'disabled' if page_num == total_pages }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page_num + 1 }}"><i class="fa-solid fa-angle-right"></i></a></li>
    </ul>
  </nav>
  {% endif %}
{% endif %}
{% if query %}
  <div class="d-flex justify-content-center mt-3">
    <p>
    {% if session.get('want_translate', '') %}<span class="badge text-bg-success fw-normal" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="This query has been translated from '{{ original_query }}'."><i class="fa-solid fa-language me-1"></i>Translated</span>{% endif %}<span class="ms-1 fw-light">{{ feed_length }} results for "{{ query }}"</span>
    </p>
  </div>
{% endif %}
  </div>
  <div class="col">
  
  </div>
</div>

<div class="container justify-content-center">
<div class="row justify-content-center">
  {% for index, item in feeds %}
  <div class="col-md-6 col-xxl-4">
    <div class="card mt-4 border-opacity-10" style="min-height: 65vh; height: auto;" id="{{ item.story_id }}-{{ selected_filter }}">
      <div class="card-header">
        <ul class="nav nav-pills nav-fill card-header-pills inf-card-header">
          <li class="nav-item">
            <a class="nav-link active inf-card-header-link" href="#">Preview</a>
          </li>
          {% if item.description|length > 10 %}
          <li class="nav-item">
            <a class="nav-link description-btn inf-card-header-link" href="#">Description</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link comments-btn inf-card-header-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Comments</a>
          </li>
        </ul>
      </div>
      <a href="/comments?id={{ item.story_id }}&category={{ selected_filter }}">
        {% if index < 3 %}
          <img fetchpriority="high" src="{{ item.media_content_url }}" alt="News image" width="500" height="333" style="aspect-ratio: 16 / 9;width: 100%;object-fit: cover;">
        {% else %}
          <img data-src="{{ item.media_content_url }}" class="lazyload" alt="News image" width="500" height="333" style="aspect-ratio: 16 / 9;width: 100%;object-fit: cover;">
        {% endif %}
      </a>
      <div class="card-body">
        <a href="/comments?id={{ item.story_id }}&category={{ selected_filter }}" class="text-reset text-decoration-none">
          <h6 class="card-title">{{ item.title }}</h6>
        </a>
      </div>
      {% if item.tags or item.total_comments or item.total_clicks %}
        <ul class="list-group list-group-flush mt-3">
          <li class="list-group-item">
            {% for tag in item.tags %}
              {% if tag in tags %}
                <a href="https://infomundi.net/news?country={{ country_code }}&query={{ tag }}&section={{ news_filter }}"><span class="badge text-bg-secondary">{{ tag }}</span></a>
              {% endif %}
            {% endfor %}

            {% if item.total_clicks %}
              <span class="badge text-bg-info"><i class="fa-solid fa-eye"></i> {{ item.total_clicks }}</span>
            {% endif %}
              
            {% if item.total_comments %}
              <span class="badge text-bg-dark"><i class="fa fa-comment"></i> {{ item.total_comments }}</span>
            {% endif %}

          </li>
        </ul>
      {% endif %}
      <div class="card-footer text-body-secondary">
        
        <small>
          <a href="{{ item.publisher.link }}" class="text-decoration-none" target="_blank">
              {% if item.favicon %}<img data-src="{{ item.favicon }}" class="rounded me-1 lazyload" alt="{{ item.publisher.name }} favicon image" width="24" height="24">{% else %}<i class="fa-solid fa-rss me-1"></i>{% endif %}{{ item.publisher.name }}
          </a>
          <span class="ms-1 me-2">&#x2022;</span><span><i class="fa-solid fa-calendar-days me-1"></i></span><span class="date-info">{{ item.pub_date }}</span>
        </small>
      
      </div>
    </div>
  </div>
  {% endfor %} 
</div>
</div>

{% if total_pages %}
  {% if total_pages < 7 %}
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center mt-3">
      {% for page in range(1, total_pages+1) %} 
      <li class="page-item {{ 'active' if page_num == page }}">
        <a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page }}">{{ page }}</a>
      </li>
      {% endfor %} 
    </ul>
  </nav>
  {% else %}
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center mt-3">
      <li class="page-item {{ 'disabled' if page_num == 1 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page_num - 1 }}"><i class="fa-solid fa-angle-left"></i></a></li>
      <li class="page-item {{ 'active' if page_num == 1 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page=1">1</a></li>
      <li class="page-item {{ 'active' if page_num == 2 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page=2">2</a></li>
      
      {% if page_num < 3 or total_pages - 2 < page_num %}
      <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
      {% else %}
      <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
      {% endif %}
      
      <li class="page-item {{ 'active' if page_num == total_pages - 1 }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ total_pages - 1 }}">{{ total_pages - 1 }}</a></li>
      <li class="page-item {{ 'active' if page_num == total_pages }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ total_pages }}">{{ total_pages }}</a></li>
      
      <li class="page-item {{ 'disabled' if page_num == total_pages }}"><a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page_num + 1 }}"><i class="fa-solid fa-angle-right"></i></a></li>
    </ul>
  </nav>
  {% endif %}
{% endif %}

{% endblock %}
{% block scripts %}

  {% assets "js_news" %}
  <script defer src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script 
    src="{{ url_for('static', filename='js/comments.js') }}"
  ></script>
  <script 
    src="{{ url_for('static', filename='js/cooldownButton.js') }}"
  ></script>

{% endblock %}