{% extends "base.html" %} {% block title %}{{ country_name }} {{ news_filter.title() }}{% endblock %}
{% block styles %}
<style type="text/css">
  .card {
  min-height: 170px;
  max-height: 200px;
  }
  /* Improved mobile compatibility */
  @media (max-width: 968px) {
  .pagination {
  margin-top: 20px;
  }
  .col-3 {
  flex: 0 0 100%;
  max-width: 100%;
  }
  .card {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  }
  .card-img {
  max-width: 500px;
  max-height: 300px;
  }
  }
</style>
{% endblock %}
{% block content %}
<div class="row mt-4">
  <div class="col">
  </div>
  <div class="col-sm-6 text-center">
    <a class="fs-1 fw-bold text-decoration-none text-light" href="/news?country={{ country_code }}">
      <img src="https://hatscripts.github.io/circle-flags/flags/{{ country_code }}.svg" style="max-width: 48px" class="rounded-circle" alt="{{ country_name }}'s flag"> {{ country_name }}
    </a>
    <form class="d-flex mt-4" role="search" action="javascript:;" onsubmit="submitSearch()">
      <input class="form-control text-light bg-dark me-2 border border-primary border-opacity-25" type="search" placeholder="Search" aria-label="Search" id="query" name="query">
      <button class="btn btn-outline-primary" type="submit" onclick="submitSearch()"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
  <div class="col">
  </div>
</div>
<ul class="nav nav-pills justify-content-center mb-2 mt-4">
  <li class="nav-item">
    <a class="nav-link {{ 'active' if 'general' in selected_filter }}" href="/news?country={{ country_code }}">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ 'disabled text-secondary' if 'economy' not in supported_categories }} {{ 'active' if 'economy' in selected_filter }}" href="/news?country={{ country_code }}&section=economy">Economy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ 'disabled text-secondary' if 'politics' not in supported_categories }} {{ 'active' if 'politics' in selected_filter }}" href="/news?country={{ country_code }}&section=politics">Politics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ 'disabled text-secondary' if 'technology' not in supported_categories }} {{ 'active' if 'technology' in selected_filter }}" href="/news?country={{ country_code }}&section=technology">Technology</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ 'disabled text-secondary' if 'sports' not in supported_categories }} {{ 'active' if 'sports' in selected_filter }}" href="/news?country={{ country_code }}&section=sports">Sports</a>
  </li>
</ul>
{% if total_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-center mt-2">
    {% for page in range(1, total_pages+1) %} 
    <li class="page-item {{ 'active' if page_num == page }}">
      <a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %} 
  </ul>
</nav>
{% endif %}
<div class="row">
  {% for item in feeds %} 
  <div class="p-1 col-6 col-xxl-3">
    <div class="card mb-1 bg-dark text-light border-light border-opacity-10">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="/comments?id={{ item['id'] }}&category={{ selected_filter }}&page={{ item['on_page'] if 'on_page' in item else page_num }}">
          <img src="{{ item['media_content']['url'] }}" class="object-fit-fill card-img" style="min-height: 190px; max-height: 190px" alt="News image">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="/comments?id={{ item['id'] }}&category={{ selected_filter }}&page={{ item['on_page'] if 'on_page' in item else page_num }}" style="text-decoration:none;">
              <h6 class="card-title" style="color: white; overflow: hidden; min-height: 55px; max-height: 58px">{{ item['title'] }}</h6>
            </a>
            <small>
              <a href="{{ item['publisher_link'] }}" class="text-decoration-none text-reset"><p style="min-height: 45px; max-height: 45px; overflow: hidden;" class="card-text good-blue"><i class="fa-solid fa-rss"></i> {{ item['publisher'] }}</p></a>
            </small>
          </div>
          <div class="card-footer">
            <small class="text-white-50 ms-1 me-1"><i class="fa-solid fa-calendar-days"></i> {{ item['pubDate'] }}</small>
            <span class="badge text-bg-info"><i class="fa-solid fa-eye"></i> {{ item['total_clicks'] }}</span>
            <span class="badge text-bg-dark"><i class="fa fa-comment"></i> {{ item['total_comments'] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 
</div>
{% if total_pages %}
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm justify-content-center mt-2">
    {% for page in range(1, total_pages+1) %} 
    <li class="page-item {{ 'active' if page_num == page }}">
      <a class="page-link" href="/news?country={{ country_code }}&section={{ news_filter }}&page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %} 
  </ul>
</nav>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
  function submitSearch() {
    const query = document.getElementById('query').value;
    // Get the current URL and parse its query parameters
    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);
    // Add or update the 'query' parameter
    params.set('query', query);
    // Set the updated query parameters back to the URL
    url.search = params.toString();
    // Update the URL and trigger a page reload
    window.location.href = url.toString();
  }
</script>
{% endblock %}